{% extends "Base.html" %}
{%load static %}
{% block content %}
           
            <div class="page-breadcrumb">
                <div class="row">
                    <div class="col-7 align-self-center">
                        {% comment %} <h3 class="page-title text-truncate text-dark font-weight-medium mb-1">Good Morning Jason!</h3> {% endcomment %}
                        <div class="d-flex align-items-center">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb m-0 p-0">
                                    <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Dashboard</a>
                                    </li>
                                    <li class="breadcrumb-item"><a href="{% url 'searchPatientsDetails' %}">Patient Service</a>
                                    </li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                    <div class="col-4">
                        <a href="{% url "patientDetails" %}" class="float-right btn btn-sm btn-primary" style="text-decoration: none; color: white;">+ Add New</a>
                    </div>
                    <div class="col-5 align-self-center">
                        <div class="customize-input float-right">
                            {% comment %} <select class="custom-select custom-select-set form-control bg-white border-0 custom-shadow custom-radius">
                                <option selected>Aug 19</option>
                                <option value="1">July 19</option>
                                <option value="2">Jun 19</option>
                            </select> {% endcomment %}
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="container-fluid">
                <div class="card">
                    <div class="card-body">
                        <form action="{% url 'searchPatientsDetails' %}" id="search-form" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col 12 col-lg-4">
                                    <label for="patientID" class="form-label">Patient ID <font class="text-danger">*</font></label>
                                    {% comment %} <input type="text" name="patient_ID" id="patientID" placeholder="P_001" class="form-control"> {% endcomment %}
                                    <select name="patient_ID" id="patientID" class="form-control" >
                                       <option value="" selected disabled>Select Patient ID</option>
                                       {% for x in data.patient_Data  %}
                                           <option value="{{x.patient_ID}}">{{x.patient_ID}}</option>
                                       {% endfor %}
                                    </select>
                                </div>
                                <div class="col 12 col-lg-4">
                                    <label for="patientName" class="form-label">Patient Name <font class="text-danger">*</font></label>
                                    {% comment %} <input type="text" name="name" id="patientName" placeholder="Full Name" class="form-control"> {% endcomment %}
                                    <select name="name" id="patientName" class="form-control" >
                                       <option value="" selected disabled>Select Patient Name</option>
                                       {% for x in data.patient_Data  %}
                                           <option value="{{x.name}}">{{x.name}}</option>
                                       {% endfor %}
                                    </select>
                                </div>
                                <div class="col 12 col-lg-4">
                                    <label for="cont-no" class="form-label">Contact Number<font class="text-danger">*</font></label>
                                    {% comment %} <input type="text" name="cont-no" id="cont-no" placeholder="+91 000 000 0000" class="form-control"> {% endcomment %}
                                    <select name="cont_number" id="cont-no" class="form-control" >
                                       <option value="" selected disabled>Select Contact Number</option>
                                       {% for x in data.patient_Data  %}
                                           <option value="{{x.cont_number}}">{{x.cont_number}}</option>
                                       {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="row mt-4">
                                <div class="col-12">
                                    <div class="d-flex justify-content-center align-items-center">
                                        <button type="submit" class="btn btn-primary mx-5">Search</button>
                                        <button type="button" class="btn btn-danger">Reset</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="card-body">
                        <div class="row" style="overflow: auto;">
                            <table class="table">
                                <thead>
                                    <th>S.No</th>
                                    <th>Patient&nbsp;ID</th>
                                    <th style="min-width: 10rem;">Patient&nbsp;Name</th>
                                    <th>Contact&nbsp;Number</th>
                                    <th>Email&nbsp;ID</th>
                                    <th>Gender</th>
                                    <th>ID&nbsp;Proof</th>
                                    <th>ID&nbsp;Proof&nbsp;Number</th>
                                    <th>Photo</th>
                                    <th style="min-width: 15rem;">Address</th>
                                    <th>Action</th>
                                </thead>
                                <tbody id="reg_data">
                                    <tr>
                                        <td colspan="12"><div class="alert alert-info">Search to see the records...</div></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
            <script>
                function deletePatientData(patient_ID){
                    {% comment %} alert('Delete Worked') {% endcomment %}
                    Swal.fire({
                        title: "Are you sure ?",
                        text: "You want to Delete the record !",
                        icon: "warning",
                        showCancelButton: true,
                        confirmCancelButtonColor: "#3085d6",
                        cancelButtonColor: "#d33",
                        confirmButtonText: "Yes, delete it !"
                    })
                    .then((result) => {
                        if (result.isConfirmed){
                            fetch(`/Patients/deletePatientDetails/${patient_ID}/Delete/`, {
                                method: "POST",
                                headers: {
                                    "X-CSRFToken": document.querySelector("[name=csrfmiddlewaretoken]").value
                                }
                            })
                            .then(response => response.json())
                            .then(data => {
                                // console.log(data)
                                if (data.success){
                                    Swal.fire({
                                        title: "Success!",
                                        text: data.message,
                                        icon: "success"
                                    }).then((result) => {
                                        window.location.reload()
                                    });
                                }
                                else{
                                    Swal.fire({
                                        title: "Ooops!",
                                        text: data.message,
                                        icon: "error"
                                    });
                                }
                            })
                            .catch(error => {
                                console.log(error);
                            });
                        }
                    })
                }
                document.getElementById("search-form").addEventListener("submit", function(e){
                    e.preventDefault();
                    let patient_data = document.getElementById("search-form");
                    let final_data = new FormData(patient_data);
                    fetch("/Patients/searchPatientsDetails/Service/",{
                        method: "POST",
                        body: final_data,
                        headers:{
                            "X-CSRFToken": document.querySelector("[name=csrfmiddlewaretoken]").value
                        }
                    })
                    .then(response => response.json())
                    .then(data => {
                        console.log(data)
                        if(data.success){
                            document.getElementById('reg_data').innerHTML = data.html_data
                        }
                        else{
                            Swal.fire({
                                title: "Oops !",
                                text: data.message,
                                icon: "info"
                            })
                        }
                    })
                    .catch(error => {
                        console.log(error)
                    })
                })
            </script>
{% endblock content %} 